.planet-info-outer{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 40vw;
    height: 98vh;
    background-color: #5d5d5dab;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.planet-info-inner{
    margin: 4px;
    padding-left: 8px;
    padding-right: 8px;
    height: 100vh;
    background-color: #ffffff00;
    background-repeat: no-repeat;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 2px solid gray;
}
.planet-name{
    text-align: center;
}
.danger-level
{
    color: green;
}
/*removes bullet and indent from list*/
.no-bullet{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
/*removes the bottom spacing on an element*/
.remove-spacing-b{
    padding-bottom: 0;
    margin-bottom: 0;
}
/*removes the top and bottom spacing on an element*/
.remove-spacing-tb{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
/*removes the whitebackground from scrollbar*/
.hide-scroll-bar {
  /* format: scrollbar-color: thumb-color track-color; */
  scrollbar-color: #888888 transparent; 
}